
@media screen and (max-width:900px){
    body{
        background-color: yellow;
    }
}
.yazi1{
background-color:  gold;
padding: 40px;
}
.yazi2{
    background-color: darkgoldenrod;
    padding: 40px;
}
.container{
    margin-top: 30px;
}

body{
    background-color: darkcyan;
}